* {
    margin: 0;
}

@font-face {
    font-family: 'Futura';
    src: url(futura_light-webfont.woff) format (woff);
}

html {
    font-family: 'Futura';
}

header {
    display: flex;
    justify-content: space-between;
    /* usar o margin ou width para centralizar (responsividade) */
    margin: 72px 20vw 0 20vw;
}

header p {
    /* qual width se usa para responsividade? */
    /* width: 13em; */
    width: 12vw;
    font-size: 14px;
    color: #605e5e;
    /* border: 1px solid black; */
}

h1 {
    margin: 4vh 0 0 0;
    font-weight: lighter;
    font-size: 55px;
    color: #bc9b5d;
    /* color: #ccc; */
    /* border: 1px solid black; */
}

a:hover {
    filter: brightness(2.1);
}

/* por que o brilho do "Leia Mais" no middle está mais suave? */

/* ==============================================================NAV=============================================================================== */

nav {
    display: flex;
    justify-content: space-between;
    margin: 4vh 20vw 2vh 20vw;
}

nav a {
    text-decoration: none;
    font-size: 14px;
    color: #605e5e;
}

nav :first-child {
    color: #bc9b5d;
}

nav a:hover {
    /* color: rgb(210,210,210); */
    /* opacity: 0.3; */
    filter:brightness(2.1);
}

.seasoning {
    height: 60vh;
    background-image: url(seasoning.webp);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

/* ==============================================================MIDDLE=============================================================================== */

.middle {
    display: flex;
    margin: 0vh 20vw 2vh 20vw;
}

.middle img, article {
    margin: 4vh 0vw 0vh 0vw;
}

.middle span {
    /* margin: 0 0 50vh 0; */
    letter-spacing: 0.3em;
    font-size: 11px;
    color: #605e5e;
}

.middle h3 {
    margin: 0.5vh 0 0 0;
    width: 16vw;
    font-style: italic;
    font-size: 30px;
    color: #bc9b5d;
}

.middle p {
    margin: 2vh 0 2vh 0;
    width: 20vw;
    font-size: 15px;
    color: #605e5e;
}

.middle a {
    text-decoration: none;
    font-size: 15px;
    color: #2f2e2e;
}

.leftC {
    display: flex;
    flex-direction: column;
    margin: 10vh 2vw 0vh 0vw;
    height: fit-content;
}

.talking {
    height: 503px;
    width: 446px;
}

.alface {
    height: 258px;
    width: 446px;
}

.rightC {
    display: flex;
    flex-direction: column;
    height: fit-content;
}

.flowers {
    height: 310px;
    width: 448px;
}

.mixing {
    height: 463px;
    width: 449px;
}

/* ==============================================================CUTING=============================================================================== */

.cutting {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5vh 20vw 0vh 20vw;
    height: 600px;
    background-image: url(cutting.webp);
}

.pecaOnline {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 138px;
    width: 390px;
    background-color: #FFFFFF;
}

.pecaOnline span {
    font-size: 11px;
    color: #605e5e;
}

.pecaOnline a {
    font-size: 27px;
    margin: 1vh 0 0 0;
    text-decoration: none;
    color: #605e5e;
}

.pecaOnline a:hover {
    filter: brightness(2.1);
}

/* ==============================================================PARÁGRAFO=============================================================================== */

.paragrafo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5vh 20vw 5vh 20vw;
}

.paragrafo span {
    font-size: 11px;
    color: #605e5e;
}

.paragrafo p {
    width: 615.75px;
    font-size: 30px;
    font-style: italic;
    color: #bc9b5d;
}

/* ==============================================================COFFEE TABLE=============================================================================== */

.coffeeTable {
    height: 50vh;
    background-image: url(coffeeTable.webp);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}


/* ==============================================================FOOTER=============================================================================== */

footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 214px;
    background-color: #bc9b5d;
}

.email {
    display: flex;
    flex-direction: column;
    color: #FFFFFF;
}

#emailFooter {
    width: 370px;
    height: 40px;
    background-color: #c9b691;   
}

footer button {
    margin: 1vh 0 0 0;
    width: 378px;
    height: 40px;
    background-color: #FFFFFF;
    font-family: 'Futura';
    color: #2f2e2e;
    border: none;
    cursor: pointer;
}

footer button:hover {
    filter: brightness(2.1);
}

.icons {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: 13px;
    color: #FFFFFF;
}

/* tirar o fundo branco dos icones */

footer img {
    margin: 1vh 0 0 0;
    background-color: transparent;
}

footer a {
    text-decoration: none;
    color: #FFFFFF;
}
